
body {
  font-size: 2rem;
}

.container {
  color: white;
  border: 5px solid gold;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;

}

.container>* {
  width: 200px;
}

.red {
  background-color: #eb4d4b;
}

.orange {
  background-color: #f0932b;
}

.yellow {
  background-color: #f6e58d;
}

.green {
  background-color: #6ab04c;
}

.blue {
  background-color: #4834d4;
}

.indigo {
  background-color: #30336b;
}

.purple {
  background-color: #be2edd;
}
